[Unit]
Description=Push the notebooks to the Folio server every 10 minutes

[Timer]
OnBootSec=3min
OnCalendar=*:0/10

[Install]
WantedBy=timers.target
